/*si*/
html {
    height: 100%;
    width: 100%;
}

/*si*/
body
{
    font-family: Arial, Helvetica, sans-serif;
    background: #ffffff;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

/*si*/
section {
    height: 100%;
    position: relative;
}

/*si*/
header
{
    color: rgb(18, 2, 4);
    background-color: #FFF3D7;
    position: fixed;
    top: 0;
    width: 100%;
    height: 10%;
    gap: 40px;
    z-index: 10;
}

/*si*/
#logo
{
    height: 60px;
    margin: 5px;
    position: absolute;
    left: 8px;
}

/*si*/
#fotoPerfil {
    height: 38px;
    position: absolute;
    top: 15px;
    right: 9%;     
    aspect-ratio: 1/1;
    overflow: hidden;
    border-radius: 200px;
    border: 3px solid rgb(79, 156, 244);
}


/*si*/
#userimg {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center; /* Centra la imagen */
}


/*si es el nombre */
#slogan1
{
    font-family: 'Bowlby One', cursive;
    font-family: 'Manjari', sans-serif;
    font-family: 'Shantell Sans', cursive;
    font-size: x-large;
    position: absolute;
    left: 5%;
    top: 0%;
}


/*si*/
#settings
{
    height: 55px;
    position: absolute;
    top: 5px;
    right: 5.06%;
}


/*si*/
#notificaciones
{
    height: 45px;
    position: absolute;
    top: 10px;
    right: 2%;
}


/*si por ahora*/
.btnTop
{
    background-color: transparent;
    font-family: Arial;
    border: none;
    font-size: larger;
}

/*si*/
.pemenu
{
    position: sticky;
    height: 100%;
    width: 380px;
    z-index: 5;  
    background-color: #FFF3D7;
    padding: 10px;
}

/*si*/
#arrow
{
    background-color: transparent;
    border: none;
    height: 18px;
    margin-left: 210px;
}

/*si*/
.botonmenu
{
    background-color: transparent;
    border: none;
    width: 100%;
    text-align: left;
    height: 50px;
    cursor: pointer;
}

/*si*/
.textoBotonm
{
    margin-right: 28px;
}

.botonmenu:hover {
    background: linear-gradient(90deg, #ffce56, #fa9399);
}


/*si*/
.textoBotonp
{
    margin-right: 12px;
}

/*si*/
#tiendas
{
    top: 48%; 
    left: 2.8%;
}

/*si*/
.textoBotont
{
    margin-right: 2px;
}

/*si*/
#Historial
{
    top: 57%; 
}

/*si*/
.textoBotonh
{
    margin-right: 45px;
}

/*si*/
#estado
{
    top: 65%; 
}

/*si*/
.textoBotone
{
    margin-right: 16px;
}

/*si*/
.textoBotoni
{
    margin-right: 8px;
}

/*si*/
#textoBotonb
{
    margin-right: 8px;
}

/*si*/
.textoBotonf
{
    margin-right: 45px;
}

.textoBotonk
{
    margin-right: 70px; 
}

.textoBotoni
{
    margin-right: 16px;
}

.textoBotonb
{
    margin-right: 20px; 
}

/*si*/
#hr1menu
{
  margin-top: 22%;
}

#hr2menu
{
  margin-top: 15%;
}

#restaurant
{
  margin-top: 0%;
  caret-color: transparent;
}

#kioskos
{
  margin-top: 4%;
  caret-color: transparent;
}

#Opsalud
{
  margin-top: 4%;
  caret-color: transparent;
}

#Cafeterias
{
  margin-top: 4%;
  caret-color: transparent;
}

#Especialidad
{
  margin-top: 4%;
  caret-color: transparent;

}

#Ubica
{
  margin-top: 4%;
  caret-color: transparent;
}

#mapa
{
  margin-top: 4%;
  caret-color: transparent;
}

#volver_menu
{
    color: black;
    margin-top: 0%;
    text-decoration: none;
    font-size: 0.8rem;
    caret-color: transparent;
}

#cerrar_sesion
{
  margin-top: 4%;
  caret-color: transparent;
}


/* para el mapa de la u */
.contenedor {
    position: relative;
    width: 870px;
    height: 650px;
    top: 60px;
    left: 500px;
    background-color: transparent;
}

#map_uni {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1; /* Puedes ajustar este valor según sea necesario */
}

.btnMidlle {
    position: absolute;
    cursor: default;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
    background-color: red;  /* inicialmente será de otro color para ver que si sea del mismo tamaño el boton al que debería */
    border: none; /* Elimina el borde del botón si no lo necesitas */
    z-index: 3; /* Asegúrate de que el botón esté por encima del mapa, ajusta según sea necesario */
}


#boton1.btnMidlle {
    top: 413px;
    left: 450px;
}

#boton2.btnMidlle {
    top: 386px;
    left: 485px;
}

#boton3.btnMidlle {
    top: 300px;
    left: 228px;
}

#boton4.btnMidlle {
    top: 474px;
    left: 695px;
}

#boton5.btnMidlle {
    top: 315px;
    left: 409px;
}

#boton6.btnMidlle {
    top: 395px;
    left: 404px;
}

#boton7.btnMidlle {
    top: 405px;
    left: 514px;
}

#boton8.btnMidlle {
    top: 358px;
    left: 445px;
}

#boton9.btnMidlle {
    top: 270px;
    left: 480px;
}

#boton10.btnMidlle {
    top: 321px;
    left: 606px;
}

#boton11.btnMidlle {
    top: 432px;
    left: 730px;
}

#boton12.btnMidlle {
    top: 428px;
    left: 680px;
}

#boton13.btnMidlle {
    top: 528px;
    left: 622px;
}

#boton14.btnMidlle {
    top: 312px;
    left: 312px;
}

#boton15.btnMidlle {
    top: 309px;
    left: 333px;
}

#boton16.btnMidlle {
    top: 408px;
    left: 706px;
}

#boton17.btnMidlle {
    top: 432px;
    left: 478px;
}

#boton18.btnMidlle {
    top: 405px;
    left: 585px;
}

#boton19.btnMidlle {
    top: 305px;
    left: 251px;
}

#boton20.btnMidlle {
    top: 492px;
    left: 660px;
}

#boton21.btnMidlle {
    top: 445px;
    left: 542px;
}

#boton22.btnMidlle {
    top: 292px;
    left: 194px;
}

#boton23.btnMidlle {
    top: 294px;
    left: 678px;
}

#boton24.btnMidlle {
    top: 465px;
    left: 660px;
}

#boton25.btnMidlle {
    top: 478px;
    left: 565px;
}

#boton26.btnMidlle {
    top: 301px;
    left: 470px;
}

#boton27.btnMidlle {
    top: 309px;
    left: 740px;
}

#boton28.btnMidlle {
    top: 337px;
    left: 498px;
}

#boton29.btnMidlle {
    top: 536px;
    left: 654px;
}

#boton30.btnMidlle {
    top: 283px;
    left: 267px; 
}

#boton31.btnMidlle {
    top: 452px;
    left: 721px;
}

#boton32.btnMidlle {
    top: 446px;
    left: 498px;
}

#boton33.btnMidlle {
    top: 365px;
    left: 368px;
}

#boton34.btnMidlle {
    top: 488px;
    left: 514px;
}

#boton35.btnMidlle {
    top: 505px;
    left: 553px;
}
