body
{
    font-family: 'Nunito', sans-serif;
    background: #ffffff;
}

header
{
    color: rgb(18, 2, 4);
    background-color: #FFF3D7;
    position: fixed;
    top: 0;
    width: 100%;
    height: 73px;
    gap: 40px;
    z-index: 10;
}


#logo
{
    height: 60px;
    margin: 5px;
    position: absolute;
    left: 80px;
}

#fotoPerfil {
    height: 38px;
    position: absolute;
    top: 15px;
    right: 9%;     
    aspect-ratio: 1/1;
    overflow: hidden;
    border-radius: 200px;
    border: 3px solid rgb(79, 156, 244);
}

#userimg {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center; /* Centra la imagen */
}


#opciones
{
    height: 45px;
    position: absolute;
    top: 15px;
}

#carrito
{
    height: 45px;
    position: absolute;
    top: 10px;
    right: 3%;
}

#slogan1
{
    font-family: 'Shantell Sans', cursive;
    font-size: x-large;
    position: absolute;
    left: 12%;
    top: 0%;
}

.btnTop
{
    background-color: transparent;
    font-family: Arial;
    border: none;
    font-size: larger;
}

#barrabusqueda
{
    height: 45px;
    position: absolute;
    top: 10px;
    width: 47%;
    right: 16%;
    border: none;
    border-top-left-radius: 15px;   /* Top-left corner rounded */
    border-bottom-left-radius: 15px; /* Bottom-left corner rounded */
    border-top-right-radius: 15px;   /* Top-left corner rounded */
    border-bottom-right-radius: 15px; /* Bottom-left corner rounded */
    background-image: url('../imagenes/lupa.png');
    background-size: 30px 30px; 
    background-repeat: no-repeat; /* Ensures the image doesn't repeat */
    background-position: left 5px center; /* Positions the image to the right with a little padding */
    padding-left: 45px; 
    z-index: 10;
}

#estrella
{
    height: 20px;
    margin-right: 48px;
}

#tienda
{
    height: 20px;
    margin-right: 55px;
}

#porcentaje
{
    height: 20px;
    margin-right: 30px;
}

.busquedaRapida
{
    height: 40px;
    position: absolute;
    top: 285px;
    display: flex;
    gap: 10px;
    left: 180px;
}

.botonBusqueda
{
    border-top-left-radius: 15px;   /* Top-left corner rounded */
    border-bottom-left-radius: 15px; /* Bottom-left corner rounded */
    border-top-right-radius: 15px;   /* Top-left corner rounded */
    border-bottom-right-radius: 15px; /* Bottom-left corner rounded */
    width: 155px;
    background-color: transparent;
    display: flex;
    align-items: center; /* Centrar verticalmente */
    border: 1px solid darkgray;
    border-width: 2px;
    text-decoration: none; /* Esto quita el subrayado */
    color: black;          /* Esto establece el color del texto en negro */
    padding-left: 10px; /* Este es el espacio que se añade a la izquierda entre el borde y la imagen */
}

.textoP
{
  position: absolute;
}

#filtro
{
    top: 270px;
    left: 60px;
}

#tiendas2
{
    top: 333px;
    left: 35px;
}

#promociones
{
    top: 600px;
    left: 40px;
}

.producto {
    padding: 0px 20px; /* Esto añade un padding (relleno) superior e inferior de 10px a cada producto */
    display: inline-block;
    vertical-align: top;  /* Asegura que se alineen por la parte superior */
}
.circuloproducto 
{   
    aspect-ratio: 1/1;
    overflow: hidden;
    border-radius: 200px;
    border: 6px solid rgb(79, 156, 244);
    position: relative;
    left: 5%;
    height: 135px;
    top: 12.5%;
    overflow: hidden; 
}

.fotominipRODUCTO
{
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center; /* Centra la imagen */
}

.nombreminiProducto
{
    position: relative;
    top: 34%;
    left: 5.5%;
    overflow: hidden;
    color: #7B7972; 
}

.scrollBoxProducto{
     top: 82px;
     max-width: 100%; 
     width:  100%;  /* o el valor que desees */
     height: 202px; 
     position: absolute;
     overflow-x: auto;   /* Habilita el desplazamiento horizontal */
     overflow-y: hidden; /* Desactiva el desplazamiento vertical */
     white-space: nowrap;  /* Esto evita que los hijos salten a la siguiente línea */
 }
 
 .scrollBoxProducto::-webkit-scrollbar {
     width: 0px;  /* Hace la barra de desplazamiento efectivamente invisible en WebKit browsers */
     background: transparent;  /* Esconde el fondo */
 }
 
 .scrollBoxProducto::-webkit-scrollbar-thumb {
     background: transparent;  /* Esconde el thumb (la barra que se mueve) */
 }
 
 /* Para Firefox */
 .scrollBoxProducto {
     scrollbar-width: none;  /* Esconde la barra de desplazamiento en Firefox */
 }
 
 /* En IE y Edge */
 .scrollBoxProducto {
     -ms-overflow-style: none;  /* Esconde la barra de desplazamiento en IE y Edge */
 }

.popUpProducto
{
    display: none;
    position: absolute;
    background: #ffffff;
    top: 2%;
    margin-top: 5px;
    height: 600px;
    z-index: 200;
    padding: 10px;
    width: 92%;
    left: 2%;
    margin-left: 10px;
    -webkit-box-shadow: 0px 0px 0px 9900px rgba(255, 248, 196, 0.5);
    box-shadow: 0px 0px 0px 9900px rgba(230, 179, 69, 0.381);
    pointer-events: auto;  /* Esto asegura que el popup siga siendo interactivo */
}

body.overlayActive {
    pointer-events: none;
}

#popUpProducto:after {
    position: fixed;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    max-height: 100%;

  }

#equis
{
    height: 30px;
}
#equisButton
{
    margin-top: 5px;
    position: absolute;
    right: 1.7%;
    background-color: transparent;
    border: none;
}

#tituloProducto
{
    position: absolute;
    font-size: x-large;
    left: 4%;
    top: 0.5%;
    font-weight: bolder;
}

#separadorHorizontal1
{
    background-color: rgb(142, 142, 142);
    margin-top: 65px;
}

.scrollBoxinner {
    left: 42%;
    max-height: 425px; /* Puedes ajustar este valor según tus necesidades */
    overflow-y: auto;
    position: relative;
    max-width: 58%; 
}

.scrollBoxinner::-webkit-scrollbar
{
    width: 10px;
}
.scrollBoxinner::-webkit-scrollbar-thumb
{
    background: #8BB9E0;
    height: 10px; /* o el tamaño que prefieras */
    border-radius: 8px; /* para bordes redondeados */
}
#encabezado
{
    display: flex; 
}
#precioText
{
    position: relative;
    font-weight: bold;
    left: 2%;
    top: 0%;
    font-size: x-large;
    display: flex;  

}
#DescText
{
    position: relative;
    left: 22%;
    top: 0%;
    font-size: x-large;
    font-weight: lighter;
    color: #7d7777;
}
#porcentajePopUp
{
    height: 30px; 
    position: relative;
    left: 31%;
    margin-top: 4.2%;
}
#DescText2
{
    position: relative;
    left: 32%;
    top: 0%;
    font-size: x-large;
    color: #303ce1;

}
#disponible
{
    position: relative;
    right: 0%;
    top: 0%;
    font-size: x-large;
    color: #ffffff;
    background-color: #8ED991;
    height: 40px;
    width: 170px;
    border-top-left-radius: 20px;   /* Top-left corner rounded */
    border-bottom-left-radius: 20px; /* Bottom-left corner rounded */
    border-top-right-radius: 20px;   /* Top-left corner rounded */
    border-bottom-right-radius: 20px; /* Bottom-left corner rounded */
    justify-content: center;  /* Centra el contenido horizontalmente */
    align-items: center; 
    display: flex;  
    font-weight: lighter;     
    margin-top: 0%;
}
#descripcion
{
    position: relative;
    right: 0%;
    top: 0%;
    font-size: x-large; 
    color: #7B7972;
}
#textoDescrip
{
    position: relative;
    right: 0%;
    top: 0%;
    color: #7B7972;
}
#ingredientesText
{
    position: relative;
    right: 0%;
    top: 0%;
    font-size: x-large; 
    color: #7B7972;
}
#textoIngred
{
    position: relative;
    right: 0%;
    top: 0%;
    color: #7B7972;
}
#RadioOptions1
{
    position: relative;
    right: 0%;
    top: 0%;
    display: flex;
    align-items: flex-start;
    margin-top: 20xp;
    margin-left: 1%;
}
#RadioOptions2
{
    position: relative;
    right: 0%;
    top: 0%;
    display: flex;
    align-items: flex-start;
    margin-left: 0.5%;
}

/* Aumenta el tamaño de los botones de radio */
#RadioOptions1 input[type="radio"], #RadioOptions2 input[type="radio"] {
    transform: scale(2.2); /* Aumenta el tamaño en 2 veces (puedes ajustar este valor) */
    margin-right: 25px;
    margin-top: 3%;
}

/* Añade margen a la izquierda de los labels para separarlos más del botón de radio */
#labelDisp
{
    margin-left: 80px; 
    background-color: #8ED991;
    color: #ffffff;
    height: 35px;
    width: 140px;
    border-top-left-radius: 20px;   /* Top-left corner rounded */
    border-bottom-left-radius: 20px; /* Bottom-left corner rounded */
    border-top-right-radius: 20px;   /* Top-left corner rounded */
    border-bottom-right-radius: 20px; /* Bottom-left corner rounded */
    justify-content: center;  /* Centra el contenido horizontalmente */
    align-items: center; 
    display: flex;  
    font-weight: lighter;   
    margin-top: 2%;
}
#labelt
{
    margin-top: 3%;
}

#circuloPRODUCTO 
{   
    aspect-ratio: 1/1;
    overflow: hidden;
    border-radius: 200px;
    position: absolute;
    top: 19%;
    left: 6%;
    height: 350px;
    border: 6px solid rgb(244, 164, 79);
    overflow: hidden; 
}

#fotopRODUCTO
{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center; /* Centra la imagen */
}

#separadorHorizontal2
{
    background-color: rgb(142, 142, 142);
    margin-top: 2px;
}
.Bspagar
{
    position: absolute;
    height: 45px;
    top: 89%;
    border: none;
    border-top-left-radius: 10px;   /* Top-left corner rounded */
    border-bottom-left-radius: 10px; /* Bottom-left corner rounded */
    border-top-right-radius: 10px;   /* Top-left corner rounded */
    border-bottom-right-radius: 10px; /* Bottom-left corner rounded */
}

#BAgregarSeguirComprando
{
   background-color: rgb(195, 192, 192);
   right: 25%;
   width: 200px;
}
#BAgregarEirPagar
{
    background-color: rgb(153, 147, 147);
    right: 3%;
    width: 250px;
}


.sumatoria
{
    height: 30px;
    background-color: transparent;
    border: none;

}
.sumatoriadiv
{
    position: absolute;
    right: 43.2%;
    top: 88.5%;
    border: 1px solid rgb(159, 159, 159);
    border-top-left-radius: 10px;   /* Top-left corner rounded */
    border-bottom-left-radius: 10px; /* Bottom-left corner rounded */
    border-top-right-radius: 10px;   /* Top-left corner rounded */
    border-bottom-right-radius: 10px; /* Bottom-left corner rounded */
    display: flex;
    align-items: center; 
    height: 50px;
}
#mas
{
    height: 35px;
}
#cantidadProducto
{
    text-align: center;
}

.pestanamenu
{
    display: none;
    position: absolute;
    height: 100%;
    width: 380px;
    z-index: 200;
    background-color: #FFF3D7;
    padding: 10px;
    top: 0%;
    -webkit-box-shadow: 0px 0px 0px 9900px rgba(255, 248, 196, 0.5);
    box-shadow: 0px 0px 0px 9900px rgba(230, 179, 69, 0.381);
    pointer-events: auto;  /* Esto asegura que el popup siga siendo interactivo */
}

#pestanadelmenu:after {
    position: fixed;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;

  }

#arrow
{
    background-color: transparent;
    border: none;
    height: 20px;
    margin-left: 210px;
}
#logomenu
{
    height: 80px;
}
.botonmenu
{
    background-color: transparent;
    border: none;
    position: absolute;
    width: 100%;
    text-align: left;
}
.botonazul
{
    height: 50px;
    border-top-left-radius: 20px;   /* Top-left corner rounded */
    border-bottom-left-radius: 20px; /* Bottom-left corner rounded */
    border-top-right-radius: 20px;   /* Top-left corner rounded */
    border-bottom-right-radius: 20px; /* Bottom-left corner rounded */
    border: none;
    width: 120px;
    background-color: #68A8C1;
    position: absolute;
    color: white;
    font-weight: bolder;
    display: flex; 
    justify-content: center;
    align-items: center;
    text-align: center; /* Esto asegura que el texto esté centrado si hay algún comportamiento no deseado */

}

#equismenu
{
    left: 87%;
    background-color: transparent;
    position: absolute;
    z-index: 2000;
}

#cerrasesion
{
    left: 20%;
    top: 117px;
    z-index: 2000;
}
#ayuda
{
    top: 117px;
    left: 54%;
}

#secciones
{
   position: absolute;
   top: 180px; 
}

/* Estilo para el contenedor de botones */
.containerbotones {
    display: flex;
    flex-direction: column; /* Alinea los botones verticalmente */
    align-items: center; /* Alinea los botones al centro horizontalmente */
    width: 100%;
}

/* Estilo para cada botón */
.botonmenu {
    display: flex; /* Hace de cada botón un contenedor Flexbox */
    justify-content: space-between; /* Distribuye el espacio entre el texto y la imagen */
    align-items: center; /* Alinea el texto y la imagen verticalmente al centro */
    width: 90%; /* Ocupa todo el ancho del contenedor */
    padding: 10px; /* Ajusta el espaciado interno según lo necesites */
    border: none; /* Elimina el borde, si es necesario */
    background-color: transparent; /* O el color que prefieras */
    cursor: pointer; /* Estilo de cursor al pasar el ratón por encima */
}

/* Estilo para la imagen de flecha de cada botón */
.botonmenu #arrow {
    margin-left: 10px; /* Espaciado entre el texto y la flecha */
}

#mapa
{
    top: 230px; 
}
#Productos
{
    top:280px; 
}

#tiendas
{
    top:330px; 
}

#Historial
{
    top: 382px; 
}

#estado
{
    top: 450px; 
}

#cuenta
{
    position: absolute;
    top: 540px;
}
#infocuenta
{
    top: 600px;
    z-index: 2000;
    color: black;
}

#conf
{ 
    top: 650px;
}

#hr1menu
{
  margin-top: 25%;
}
#hr2menu
{
  margin-top: 88%;
}
a {
    text-decoration: none; /* Quitar el subrayado */
    font-family: 'Nunito', sans-serif;
}


.circuloTIENDA
{   
    aspect-ratio: 1/1;
    overflow: hidden;
    border-radius: 200px;
    border: 6px solid rgb(157, 212, 153);
    position: relative;
    left: 4%;
    height: 140px;
    top: 6%;
    overflow: hidden; 
    
}

.fotominiTIENDA
{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center; /* Centra la imagen */
}

.nombreminiTIENDA
{
    position: relative;
    top: 2%;
    left: 30%;
    overflow: hidden;
    color: #7B7972; 
}

.scrollBoxTienda {
   
   top: 400px;
   overflow-x: auto;   /* Habilita el desplazamiento horizontal */
   overflow-y: hidden; /* Desactiva el desplazamiento vertical */
    max-width: 100%; 
    width:  100%;  /* o el valor que desees */
    height: 200px;
    position: absolute;
    white-space: nowrap;
 
}

.scrollBoxTienda::-webkit-scrollbar {
    width: 0px;  /* Hace la barra de desplazamiento efectivamente invisible en WebKit browsers */
    background: transparent;  /* Esconde el fondo */
}

.scrollBoxTienda::-webkit-scrollbar-thumb {
    background: transparent;  /* Esconde el thumb (la barra que se mueve) */
}

/* Para Firefox */
.scrollBoxTienda {
    scrollbar-width: none;  /* Esconde la barra de desplazamiento en Firefox */
}

/* En IE y Edge */
.scrollBoxTienda {
    -ms-overflow-style: none;  /* Esconde la barra de desplazamiento en IE y Edge */
}

.minitienda {
    padding: 0px 20px; /* Esto añade un padding (relleno) superior e inferior de 10px a cada producto */
    display: inline-block;
    vertical-align: top;  /* Asegura que se alineen por la parte superior */
}

@media screen and (max-width: 653px) 
{
    .scrollBoxProducto, .scrollBoxTienda
    {
        width:  120%; 
        max-width: 120%; 
    }

}

@media screen and (max-width: 1099px) 
{
    .scrollBoxProducto, .scrollBoxTienda
    {
        width:  120%; 
        max-width: 100%; 
    }

}

@media screen and (max-width: 1120px) 
{
    #slogan1
    {
        display: none;
    }

    #barrabusqueda
    {
        right: 25%;
    }
}

@media screen and (max-width: 1227px) 
{
    #BAgregarSeguirComprando
    {
         width: 190px;
    }
    #BAgregarEirPagar
    {
        background-color: rgb(153, 147, 147);
        right: 3%;
        width: 190px;
    }
 
    .sumatoriadiv
    {
        right: 47.2%;
    }

}

@media screen and (max-width: 1145px) 
{
    #circuloPRODUCTO 
    {   
        height: 300px;
    }

}