@font-face {
    font-family: 'Manjari';
    src: url('https://fonts.googleapis.com/css2?family=Manjari:wght@400;700&display=swap');
  }


a {
    text-decoration: none; /* Quitar el subrayado */
    color: black; /* Hacer que el color sea el mismo que el del texto circundante */
}

/* Estilo para el enlace al pasar el cursor sobre él */
a:hover {
    color: black; /* Mantener el mismo color al pasar el cursor */
}

body
{
    font-family: system-ui;
    background: #ffffff;
}

header
{
    color: rgb(18, 2, 4);
    background-color: #FFF3D7;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    gap: 40px;
    z-index: 1000;  /* Un valor arbitrariamente alto para asegurarse de que esté sobre otros elementos */
}


#logo
{
    height: 70px;
    margin: 10px;
}

#imgpizza
{
   width: 100%; 
   position: relative;
   top: 110px;
   z-index: -50;
}

#imgabajo
{
    width: 100%; 
    position: relative;
    top: 110px;
    z-index: -50;
}

#userimg
{
    height: 40px;
    position: relative;
    top: 20px;
    z-index: 200;
}

.slogan
{
    font-family: 'Bowlby One', cursive;
}

.btnTop
{
    background-color: transparent;
    font-family: Arial;
    border: none;
    font-size: larger;
    z-index: 200;
}

.reg
{
    border-radius: 30px;
    font-size: x-large;
    background-color: #ffffff;
    border-color: #ffffff;
    padding-inline: 60px;
    padding-block: 10px;
    border: none;
    position: relative;
    top: 40px;  /* Ajusta este valor según cuánto quieras desplazar el botón hacia abajo */
}

.botonesMenu
{
    position: absolute;
    right: 46px;
    display: flex; /*significa que se pone todo vertical*/
    height: 88%;
    gap: 40px;
}

#bienvenido
{
    position: relative;
}

.Bslogan
{
   color: white;
   align-self: auto;
   position: absolute;
   top: 35%;
   left: 60px;

}
.sloganTXT
{
    font-size: xx-large;
    font-weight: bold;
}
.userGroup
{
    display: flex; 
    gap: 8px;
}
#ingreso
{
    margin-top: 5%;
}
#userimg {
    height: -40px;
   
}

/* Ajustes para pantallas medianas */
@media screen and (max-width: 944px) 
{
    #slogan2 {
        font-size: 2px;
    }
    #slogan1 {
        display: none;
    }
}

@media screen and (max-width: 1128px) 
{
    #slogan2 {
        font-size: 28px;
    }
}
@media screen and (max-width: 1027px) 
{
    #slogan2 {
        font-size: 25px;
    }
}

